<nav>
    <h2>NavBar</h2>
    <ul>
        <li><a href ="/">Home</a></li>
        <li><a href ="/weather">Specific Location</a></li>
        <li><a href ="/northwest">North West</a></li>
        <li><a href ="/northeast">North East</a></li>
        <li><a href ="/midlands">Midlands</a></li>
        <li><a href ="/southwest">South West</a></li>
        <li><a href ="/southeast">South East</a></li>
        <li><a href ="/wales">Wales</a></li>
        <li><a href ="/scotland">Scotland</a></li>
        <li><a href ="/northernireland">Northern Ireland</a></li>
    </ul>
</nav>